<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <div id="bar">
    <div id="hamburger_div">
      <img src="../img/hamburger.svg" onclick="toggleNav()" id="hamburger">
    </div>
    <div id="search_div" >
      <form>
        <input type="text" placeholder="Search" name="search">
        <button type="submit"><img src="../img/magnifier.svg"></button>
      </form>
    </div>
    <div>
      <button><img src="../img/basket.svg"></button>
    </div>
  </div>

  <div id="content">
    <div id="mySidenav" class="sidenav">
      <a href="#">CPU</a>
      <a href="#">GPU</a>
      <a href="#">Płyty Główne</a>
      <a href="#">RAM</a>
      <a href="#">Obudowy</a>
      <a href="#">Dyski</a>
      <a href="#">Kontrolery</a>
    </div>

    <div id="main">
      <div class="store_item">
        <img src="../img/cpu1.svg"/>
        <p class="store_desc">E1231v3</p>
      </div>
    </div>
  </div>

<script>
  toggled = true;
  function toggleNav() {
    if (toggled){
      console.log("close")
      openNav()
    }
    else {
      console.log("open")
      closeNav()
    }
    toggled = !toggled;
  }
  function openNav() {
    nav = document.getElementById("mySidenav");
    bar = document.getElementById("bar");
    hamburger = document.getElementById("hamburger");
    hamburger.classList.toggle("hamburger_animate");
    sidebar_width = getComputedStyle(document.documentElement)
      .getPropertyValue("--sidebar-width");
    console.log(typeof(sidebar_width), sidebar_width);
    nav.style.width = sidebar_width;
    // new_width = 'calc('+hamburger_width+'+5em);';
    // console.log("new_width", new_width);
    // console.log(nav.style.width);
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    hamburger.classList.toggle("hamburger_animate");
  }
</script>

</body>
</html>
